html {
    background-color: #c3c3c3;
    font-family: "Lato";
}

.main-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;
    max-width: 816px;
    word-wrap:break-word;

}

/* Top Container Styles */

#top-container {
    border: 1px solid black;
    line-height: 1;
}

#top-info {
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 18px;
    width: 98%;
    margin: 0 auto;

}

#skills {
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 18px;
    width: 98%;
    margin: 0 auto;
}

#books {
    text-align: center;
    /* line-height: 1.5; */
    font-size: 18px;
}

#books h4 {
    line-height: 1.5;
}

/* Bottom Container */

#right-container {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    line-height: 1.6;
}

#projects-title-info {
    width: 98%;
    margin: 0 auto;
    border-bottom: 1px solid black;
}

#projects-title-info h1 {
    text-align: center;
    font-size: 36px;
}

#algo-title-info {
    width: 98%;
    margin: 0 auto;
    border-bottom: 1px solid black;
}

#algo-title-info h3 {
    margin-top: 15px;
}

#mbs-title-info {
    /* width: 98%; */
    margin: 0 auto;
    border-bottom: 1px solid black;
}

#mbs-title-info h3 {
    width: 98%;
    margin: 15px auto;
    
}

#mbs-title-info p {
    width: 98%;
    /* margin: 0 auto; */
    margin-left: auto;
    margin-right: auto;
    
}

#education-title-info h1 {
    text-align: center;
    font-size: 36px;
}

#masters-info {
    border-bottom: 1px solid black;
    padding-bottom: 21.28px;
}







#education-title-info {
    width: 98%;
    margin: 0 auto;
}

@media (min-width: 450px) {
    #top-container {
        display: flex;
        justify-content: space-around;
    }

    #top-info {
        border-bottom: 0px;
        border-right: 1px solid black;
        width: 33%;
        font-size: 12px;
    }

    #skills {
        border-bottom: 0px;
        border-right: 1px solid black;
        width: 33%;
    }

    #books {
        width: 33%;
    }

    #books h4 {
        font-size: 12px;
        
    }

    #books h1 {
        /* margin-top: 9px; */
        font-size: 36px;

    }

    #skills h1 {
        font-size: 36px;
        /* margin-top: 9px; */
    }

    #skills h4 {
        font-size: 12px;
    }

    #top-info h1 {
        font-size: 36px;
    }
    
    #top-info h4 {
        font-size: 12px;
    }


@media (min-width: 550px) {
    #top-info h4 {
        font-size: 14px;
    }

    #books h4 {
        font-size: 14px;
    }

    #skills h4 {
        font-size: 14px;
    }
}





}

@media(min-width:581px) {
    #left-info {
        line-height: 1.6;
    }
}

@media (min-width:731px) {
    #top-info h4 {
        font-size: 16px;
        /* line-height: 1.6; */
    }

    #books h4 {
        font-size: 16px;
        line-height: 1.28;
    }

    #skills h4 {
        font-size: 16px;
        /* line-height: 1.6; */
    }

}


